
.home-section {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.containers {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(path-to-your-font-file/HKGrotesk-Medium.otf) format('opentype');
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'HK Grotesk', sans-serif;
}

p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-containers {
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
}

.cards {
    width: calc(33.33% - 20px);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.cards img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cards h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.cards p {
    font-size: 14px;
}



.list-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 10px;
  gap: 30px;
}
.list{
  width: calc(33.33% - 20px);
  background-color: #ffffff;
  margin-left: 6px;
  padding: 25px;
  border-radius: 5px;
  height: 20em;
  background:url(../imgs/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  opacity: 0.7;
}
/* 
@media screen and (max-width: 480px) {
  .list-container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    
  }

  .list{
    padding: 10px;
  }
} */

.list-container ul {
  padding-left: 20px;
  margin: 0;
}

.list-container ul li {
  
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .list-container {
    flex-direction: column;
    align-items: center;
    
  }

.list-container > div {
    width: 100%;
    max-width: 100%;
    margin-left: 12px;
    padding: 10px;
    border-radius: 8px;
  }

}

.line-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px; /* Adjust as needed */
  background-color: #dbf1e3; /* Background color */
  border-radius: 10px; /* Add curved corners */
}

.box h2 {
  margin: 0;
}

.box-container {
      background-image: linear-gradient(to right, #FFC371, #FF5F6D);
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      color: #fff;
      text-align: center;
    }

    .box-content {
      padding: 0 40px; 
    }

    .box-content h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .box-content p {
      font-size: 16px;
      margin-bottom: 0;
    }

.youtube-icon {
      width: 50px; 
      height: auto;
    }
